In [1]:
import pandas as pd
import urllib
import toolbox.tool as tool

In [2]:
# download dataset 
try:
 url='https://www.fiskeridir.no/Akvakultur/Tall-og-analyse/Biomassestatistikk/Biomassestatistikk-etter-fylke/_/attachment/download/07df1556-af14-45c8-9993-db5e22c64cbb:05566c7482b37a621b4dcdd8e7384c4c25bc5447/biostat-total-flk.xlsx'
 filepath = 'data/rawdata/BiomassStatistics2005-2023.xlsx'
 urllib.request.urlretrieve(url, filepath)
except:
 print('reminder : source need to update')
# df=pd.read_excel(filename)
print('Sheet:\n',pd.ExcelFile(filepath).sheet_names)
df = pd.ExcelFile(filepath).parse(1)

Sheet:
 ['Forklaring', 'biomasse 2005-2023']

In [3]:
# translate to English
df=df.replace(tool.translation_dicts())

# translate col name
x = pd.DataFrame(df.columns).replace(tool.translation_dicts())
df.columns = x[0].tolist()

In [4]:
df

,year,month_code,month,county,species,release,behfisk_stk,biomass_kg,postpone_smolt_stk,pre -use_kg,outlet_stk,outlet_kg,deadfisk_stk,draft_stk,escape_stk,andre_stk
0,2005,1,01,4_MØRE OG ROMSDAL,salmon,2003,4354895,17352994.9,0,2078590,1037287,5623165.9,36681,9008,0,0
1,2005,1,01,4_MØRE OG ROMSDAL,rainbow trout,2003,463991,1556515.1,0,249805,203831,989425.0,1419,0,0,0
2,2005,1,01,4_MØRE OG ROMSDAL,salmon,2004,14888741,17416679.6,0,2100646,33081,28674.9,150091,64,0,0
3,2005,1,01,4_MØRE OG ROMSDAL,rainbow trout,2004,4358547,4459118.5,0,1018525,183935,600942.1,14320,1008,0,0
4,2005,1,01,4_MØRE OG ROMSDAL,salmon,2005,175288,20605.8,176095,3650,0,0.0,807,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7263,2023,2,02,5_VESTLAND,rainbow trout,2021,1325729,2798519.5,0,312724,70964,276469.0,13614,1223,0,95
7264,2023,2,02,5_VESTLAND,salmon,2022,58698314,123483228.8,0,17548462,2440864,11400100.8,1166443,26278,0,17122
7265,2023,2,02,5_VESTLAND,rainbow trout,2022,15390469,27381982.0,0,4610829,871067,3194163.0,85471,18578,0,24631
7266,2023,2,02,5_VESTLAND,salmon,2023,2227182,3182698.0,0,540606,56741,231280.9,37266,351,0,58
7267,2023,2,02,5_VESTLAND,rainbow trout,2023,3188011,977604.3,1352781,194886,0,0.0,17921,0,0,219

# Create Translation dicts

In [5]:
# dict_list = df.columns.tolist()
# for col in ['FYLKE','ARTSID','MÅNED']:
#     new_list = df[col].unique().tolist()
#     dict_list = dict_list + new_list
# dict_df = pd.DataFrame(dict_list,columns = ['from'])
# dict_df['to']=[t.translate(x) for x in dict_df['from']]
# translation_dicts=dict(zip(dict_df['from'],dict_df['to']))

In [6]:
# dict_df.to_csv('data/temp/dict_no_en.csv',index=False)

# Data source & Reference
- [Norwegian Directorate of Fisheries](https://www.fiskeridir.no/Akvakultur/Tall-og-analyse/Biomassestatistikk/Biomassestatistikk-etter-fylke)