In [1]:
import pandas as pd
import requests

# 1. Get Token

In [2]:
#### Generate token

def get_token():
    import requests
    from pprint import pprint

    token_url='https://id.barentswatch.no/connect/token'
    client_id='' # input your id
    client_secret=''  # input your password


    req = requests.post(token_url,data={'grant_type': 'client_credentials',
            'client_id': client_id,
            'client_secret': client_secret,
            'scope': 'api'},headers={'content-type': 'application/x-www-form-urlencoded'})

    req.raise_for_status()
    tk=req.json()
    token = tk['access_token']
    
    return token

In [3]:
try:
    token = get_token()
except:
    import sys
    sys.path.append('/Users/chun-dengwang/Repo/src')
    from mypkg.token import bw_token
    token = bw_token

# 2. Salmon_Feed Data

In [4]:
def SalmonFeed(df='raw',token=token):
  # api_url=f'/v1/geodata/fishhealth/locality/{year}/{week}'
  url='https://www.barentswatch.no/bwapi/v1/geodata/bki/dataset/feedcomposition'
  headers ={
    'authorization': 'Bearer ' + token,
    'content-type': 'application/json',}
  response = requests.get(url, headers=headers)
  response.raise_for_status()
  data_raw=response.json()
  data=pd.DataFrame(data_raw)
  FeedComposition = pd.DataFrame(data[list(data.keys())[0]]['data']) #Year: 2016 , Unit: metric ton
  FishMealOrigin = pd.DataFrame(data[list(data.keys())[1]]['fish meal']).melt().dropna() #Year: 2016 , Unit: %
  FishOilOrigin = pd.DataFrame(data[list(data.keys())[1]]['fish oil']).melt().dropna() #Year: 2016 , Unit: %
  PlantIngredients = pd.DataFrame(data[list(data.keys())[2]]['data']) #Year: 2016 , Unit: metric ton
  FeedComposition1990_2016 = pd.DataFrame(data[list(data.keys())[3]]['data']) #Year: 1990-2016 , Unit: %
  
  pre_result = [FeedComposition,FishMealOrigin,FishOilOrigin,PlantIngredients,FeedComposition1990_2016]
  
  if df == 'raw':
    print('Select one dataframe:\n',
        'FeedComposition, FishMealOrigin, FishOilOrigin, PlantIngredients, FeedComposition1990_2016\n\n\n')
    result = data_raw
  elif df == 'FeedComposition':
    result = pre_result[0]
  elif df == 'FishMealOrigin':
    result = pre_result[1]
  elif df == 'FishOilOrigin':
    result = pre_result[2]
  elif df == 'PlantIngredients':
    result = pre_result[3]
  elif df == 'FeedComposition1990_2016':
    result = pre_result[4]
 
  return result

In [5]:
# save raw data to json file
import json
data = SalmonFeed()
with open("data/rawdata/SalmonFeed.json", "w") as write_file:
    json.dump(data, write_file)

Select one dataframe:
 FeedComposition, FishMealOrigin, FishOilOrigin, PlantIngredients, FeedComposition1990_2016

In [6]:
SalmonFeed('FeedComposition1990_2016')

,year,microingredients,starch,plant oil,plant protein,marine oil,marine protein
0,1990,1.0,9.6,0.0,0.0,24.0,65.4
1,2000,2.0,11.2,0.0,22.2,31.1,33.5
2,2010,2.2,8.4,12.5,35.5,16.6,24.8
3,2012,3.1,11.1,18.3,36.7,11.2,19.5
4,2013,3.7,11.2,19.2,36.7,10.9,18.3
5,2016,4.0,10.6,20.2,40.3,10.4,14.5

In [7]:
SalmonFeed('FishMealOrigin')

                                     variable  value
0                              North Atlantic  90.49
8   South Atlantic including African Atlantic   2.21
16                               Mexican Gulf   0.37
24                                    Pacific   3.28
32                                     Others   0.48
40            By-products from North Atlantic   3.18
48              By-products from aqua culture      0

In [8]:
SalmonFeed('FishOilOrigin')

                                     variable  value
0                              North Atlantic  37.53
8   South Atlantic including African Atlantic   4.26
16                               Mexican Gulf  16.99
24                                    Pacific  15.79
32                                     Others   4.68
40            By-products from North Atlantic  18.21
48              By-products from aqua culture   2.53

In [9]:
SalmonFeed('PlantIngredients')

                         name       category   value
0   Rapeseed and camelina oil            oil  322.58
1     Soy protein concentrate        protein  309.71
2                Wheat gluten        protein  146.27
3                       Wheat  carbohydrates  144.61
4                Maize gluten        protein   57.97
5                   Fababeans        protein   54.75
6     Other vegetable protein        protein   37.42
7     Pea protein concentrate        protein   21.94
8               Sunflowermeal        protein   18.55
9   Other plant carbohydrates  carbohydrates   15.71
10                 Pea starch  carbohydrates   12.30
11          Sunflower protein        protein    8.69
12                Linseed oil            oil    5.63

In [10]:
SalmonFeed('FeedComposition1990_2016')

,year,microingredients,starch,plant oil,plant protein,marine oil,marine protein
0,1990,1.0,9.6,0.0,0.0,24.0,65.4
1,2000,2.0,11.2,0.0,22.2,31.1,33.5
2,2010,2.2,8.4,12.5,35.5,16.6,24.8
3,2012,3.1,11.1,18.3,36.7,11.2,19.5
4,2013,3.7,11.2,19.2,36.7,10.9,18.3
5,2016,4.0,10.6,20.2,40.3,10.4,14.5

In [11]:
def SalmonFeed(df='raw',token=token):
  # api_url=f'/v1/geodata/fishhealth/locality/{year}/{week}'
  url='https://www.barentswatch.no/bwapi/v1/geodata/bki/dataset/feedcomposition'
  headers ={
    'authorization': 'Bearer ' + token,
    'content-type': 'application/json',}
  response = requests.get(url, headers=headers)
  response.raise_for_status()
  data_raw=response.json()
  data=pd.DataFrame(data_raw)
  FeedComposition = pd.DataFrame(data[list(data.keys())[0]]['data']) #Year: 2016 , Unit: metric ton
  FishMealOrigin = pd.DataFrame(data[list(data.keys())[1]]['fish meal']).melt().dropna() #Year: 2016 , Unit: %
  FishOilOrigin = pd.DataFrame(data[list(data.keys())[1]]['fish oil']).melt().dropna() #Year: 2016 , Unit: %
  PlantIngredients = pd.DataFrame(data[list(data.keys())[2]]['data']) #Year: 2016 , Unit: metric ton
  FeedComposition1990_2016 = pd.DataFrame(data[list(data.keys())[3]]['data']) #Year: 1990-2016 , Unit: %
  
  pre_result = [FeedComposition,FishMealOrigin,FishOilOrigin,PlantIngredients,FeedComposition1990_2016]
  
  if df == 'raw':
    print('Select one dataframe:\n',
        'FeedComposition, FishMealOrigin, FishOilOrigin, PlantIngredients, FeedComposition1990_2016\n\n\n')
    result = data_raw
  elif df == 'FeedComposition':
    result = pre_result[0]
  elif df == 'FishMealOrigin':
    result = pre_result[1]
  elif df == 'FishOilOrigin':
    result = pre_result[2]
  elif df == 'PlantIngredients':
    result = pre_result[3]
  elif df == 'FeedComposition1990_2016':
    result = pre_result[4]
 
  return result

In [12]:
SalmonFeed('FeedComposition1990_2016')

,year,microingredients,starch,plant oil,plant protein,marine oil,marine protein
0,1990,1.0,9.6,0.0,0.0,24.0,65.4
1,2000,2.0,11.2,0.0,22.2,31.1,33.5
2,2010,2.2,8.4,12.5,35.5,16.6,24.8
3,2012,3.1,11.1,18.3,36.7,11.2,19.5
4,2013,3.7,11.2,19.2,36.7,10.9,18.3
5,2016,4.0,10.6,20.2,40.3,10.4,14.5

In [13]:
SalmonFeed('FeedComposition')

                  protein     oil  binders  microingredients
plant sources      655314  328205   172616             65422
forage fisheries   190277  126760        0                 0
by-products         46362   42521        0                 0
total              891953  497486   172616             65422

# Reference
  - [Barentswatch API documents](https://www.barentswatch.no/bwapi/openapi/index.html?urls.primaryName=Sustainability%20In%20Aquaculture%20API#/Datasets/get_v1_geodata_bki_dataset_feedcomposition)
  - [Github connection example](https://github.com/barentswatch/barentswatch-api-examples)